<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="mis/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="mis/js/jquery.js"></script>
    <style type="text/css">
        .topleft img {
            margin-top: 1px;
            margin-left: 24px;
            height: 84px;
        }
    </style>
<script type="text/javascript">
$(function(){	
	//顶部导航切换
	$(".nav li a").click(function(){
		$(".nav li a.selected").removeClass("selected")
		$(this).addClass("selected");
	})	
})	
</script>
</head>
<body style="background:url(mis/images/topbg.gif) repeat-x;">
    <div class="topleft">
    <a href="main" target="_parent"><img src="mis/images/logo.png" title="系统首页" /></a>
    </div>
   
    <div class="topright">    
    <ul>
    <li><a href="login?clearSession=true" target="_parent">退出</a></li>
    </ul>
   
    <div class="user">
    <span th:text="${name}">admin</span>
    </div>    
    
    </div>
</body>
</html>
