<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js" ></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>资讯列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 课程管理 <span class="c-gray en">&gt;</span> 课程列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont" id="btn-refresh">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" th:onclick="'javascript:datadel()'" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" data-title="添加课程" data-href="article-add.html" onclick="Hui_admin_tab(this)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加课程</a></span> <span class="r">共有数据：<strong th:text="${courseList.size()}"></strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="80">序号</th>
					<th>课程名</th>
					<th width="80">课程总数</th>
					<th width="205">创建时间</th>
					<th width="100">发布状态</th>
					<th width="120">操作</th>
				</tr>
			</thead>
			<tbody>


			    <tr th:each="course, interStat : ${courseList}" class="text-c">
					<td><input type="checkbox" value="" name="cb" ></td>
					<td th:text="${interStat.count}"></td>
					<td class="text-l" ><u style="cursor:pointer" class="text-primary" th:onclick="'javascript:article_edit2(\''+${course.cId}+'\')'" title="查看" th:text="${course.cName}"></u></td>
					<td th:text="${course.cCount}"></td>
					<td th:text="${commons.fmtdate(course.cCreateTime)}"></td>
					<td class="td-status" th:if="${course.cRemark eq '1'}"><span class="label label-success radius">已启用</span></td>
					<td class="td-status" th:unless="${course.cRemark eq '1'}"><span class="label label-defaunt radius">已停用</span></td>
					<td class="f-14 td-manage"><a th:if="${course.cRemark eq '1'}" style="text-decoration:none"
												  th:onclick="'javascript:article_stop('+this+',\''+${course.cId}+'\')'"
												  href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
						<a  th:unless="${course.cRemark eq '1'}" style="text-decoration:none" th:onclick="'javascript:article_start('+this+',\''+${course.cId}+'\')'" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>
						<a style="text-decoration:none" class="ml-5 " th:onclick="'javascript:article_edit(\''+课程编辑+'\',\''+article-edit.html+'\',\''+${course.cId}+'\',\''+''+'\',\''+510+'\')'"  href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" th:onClick="'javascript:article_del('+this+',\''+${course.cId}+'\')'" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>

				</tr>
			</tbody>
		</table>
	</div>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js" ></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js" ></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js" ></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js" ></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js" ></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js" ></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js" ></script>
<script type="text/javascript">
	// $('.tp').click(function () {
	// 	alert($(this).attr('value'));
    // });
$('.table-sort').dataTable({
    "aaSorting": [
        [
            1, "desc"
        ]
    ],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,6]}// 不参与排序的列
	]
});

/*课程-添加*/
function article_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-编辑*/

    function article_edit(title,url,cId,w,h){

        layer_show(title,url+"?cId="+cId,w,h);
    }
    /*课程-详细*/
    function article_edit2(cId){

        var index = layer.open({
            type: 2,
            content: 'detail-list.html?cId='+cId
        });
        layer.full(index);
    }
/*课程-测试*/
function test1(id) {
    alert(id);
}

/*课程-删除*/
function article_del(obj,cId){

	layer.confirm('确认要删除吗？',function(index){

		$.ajax({
			type: 'POST',
			url: 'deleteCourse',
			data:{cId:cId},
			success: function(data){

			    console.log(data);
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
			    alert("error");
				console.log(data.msg);
			},
		});
	});
}


/*课程-下架*/
function article_stop(obj,cId){

	layer.confirm('确认要下架吗？',function(index){

        $.ajax({
            type: 'POST',
            url: 'stopCourse?cId='+cId,
            success: function(data){
                $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none"  href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');//th:onclick="'javascript:member_start('+this+',\''+${student.sId}+'\')'"
                $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
                $(obj).remove();
                layer.msg('已停用!',{icon: 5,time:1000});
                setTimeout(function(){
                    window.location.reload();
                }, 1000);

            },
            error:function(data) {
                alert("error");
                console.log(data.msg);
            },
        });
    });
}

/*课程-发布*/
function article_start(obj,cId){

	layer.confirm('确认要发布吗？',function(index){

        $.ajax({
            type: 'POST',
            url: 'startCourse?cId='+cId,
            success: function(data){

                $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" href="javascript:;" title="停用" ><i class="Hui-iconfont">&#xe631;</i></a>');// th:onclick="'javascript:member_stop('+this+',\''+${student.sId}+'\')'"
                $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                $(obj).remove();
                layer.msg('已启用!',{icon: 6,time:1000});
                setTimeout(function(){
                    window.location.reload();
                }, 1000);
            },
            error:function(data) {
                alert("error");
                console.log(data.msg);
            },
        });
    });
}
    /*批量删除*/
   function datadel() {
	   alert("批量删除");
       var cb=document.getElementsByName("cb");
       var a=0;
       var arr=new Array();
       //循环判断有没有选择,如果有就a++
       for(var i=0;i<cb.length;i++){
           if(cb[i].checked){
               //因为删除会改变数组下标,所以把对象拿出来放到一个数组中
               arr[a]=cb[i].parentNode.parentNode;
               a++;
           }
       }
       //判断如果标识符等于0就没有选中的
       if(a==0){
           alert("请至少选择一行");
       }else{
           //循环自己定义的数组,删除选中的TR
           for(var c=0;c<arr.length;c++){
               //alert(arr[c]);

               arr[c].remove();
           }
       }
   }

</script> 
</body>
</html>