<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>专业管理</title>
</head>
<body>
<button id="btn-refresh" style="display: none"  onclick="refresh()">刷新</button>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span> 专业管理
	<a  id="a" class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
		<i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
		<a href="javascript:;" onclick="member_add('添加','major-add','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a></span> <span class="r">共有数据：<strong th:text="${majorList.size()}">88</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="30">序号</th>
				<th hidden="hidden">排序数</th>
				<th width="80">专业名称</th>
				<th width="150">专业描述</th>
				<th width="90">更新时间</th>
				<th width="40">状态</th>
				<th width="60">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-c" th:each="major,interStart:${majorList}">
				<td><input type="checkbox" name="cb"></td>
				<td th:text="${interStart.count}">1</td>
				<td hidden="hidden" th:text="${major.sortNum}">排序数</td>
				<td th:text="${major.name}">计算机</td>
				<td th:text="${major.profile}" >简介</td>
				<td th:if="${major.updateTime}==null" th:text="${commons.fmtdate(major.createTime)}">教授</td>
				<td th:unless="${major.updateTime}==null" th:text="${commons.fmtdate(major.updateTime)}"></td>
				<td class="td-status" th:switch="${major.state}">
					<span th:case="0" class="label label-primary radius">初次使用</span>
					<span th:case="1" class="label label-success radius">正常使用</span>
				</td>
				<td class="td-manage">
					<a th:if="${major.state}!=1" style="text-decoration:none"
					   th:onclick="'javascript:member_stop('+this+',\''+${major.mid}+'\')'"
																				 href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
					<a title="编辑" href="javascript:;"  th:onclick="'javascript:member_edit(\''+编辑+'\',\''+major-update+'\',\''+${major.mid}+'\',\''+''+'\',\''+510+'\');'" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
					<a title="删除" href="javascript:;"
					   th:onclick="'javascript:member_del(\''+${major.mid}+'\');'"
					   class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" th:inline="javascript">
$(function(){
	$('.table-sort').dataTable({
        "aaSorting": [
            [
                2, "asc"
            ]
        ],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,6]}// 制定列不参与排序
		]
	});

});
/*用户-添加*/
function member_add(title,url,w,h){
	 layer_show(title,url,w,h);
    // var index = layer.open({
    //     type: 2,
    //     title: title,
    //     content: url
    // });
    // layer.full(index);
}
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url+"?uid="+id,w,h);
}
/*用户-停用*/
function member_stop(obj,id){
    var basePath =[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
	layer.confirm('确认要停用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: basePath+'/stopStudent?uid='+id,
			success: function(data){
                console.log(data);
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none"  href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');//th:onclick="'javascript:member_start('+this+',\''+${student.sId}+'\')'"
				$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
				$(obj).remove();
				layer.msg('已停用!',{icon: 5,time:1000});
                setTimeout(function(){
                    window.location.reload();
                }, 1000);

			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}

/*用户-启用*/
function member_start(obj,id){
    var basePath =[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
	layer.confirm('确认要启用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: basePath+'/startStudent?uid='+id,
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" href="javascript:;" title="停用" ><i class="Hui-iconfont">&#xe631;</i></a>');// th:onclick="'javascript:member_stop('+this+',\''+${student.sId}+'\')'"
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
				$(obj).remove();
				layer.msg('已启用!',{icon: 6,time:1000});
                setTimeout(function(){
                    window.location.reload();
                }, 1000);
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
/*用户-编辑*/
function member_edit(title,url,id,w,h){
    // var index = layer.open({
    //     type: 2,
    //     title: title,
    //     content: url+"?uid="+id
    // });
    // layer.full(index);
	layer_show(title,url+"?mid="+id,w,h);
}
/*密码-修改*/
function change_password(title,url,id,w,h){

	layer_show(title,url+"?uid="+id,w,h);
}
/*用户-删除*/
function member_del(mid){

    var basePath =[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
             url: basePath + '/deleteMajor?mid='+mid,
			data:null,
			success: function(data){
			    if (data==='删除成功'){
                    layer.msg('已删除!',{icon:1,time:1000});
				}else {
                    layer.msg(data,{icon:5,time:2000});
				}
                setTimeout(function(){
                    window.location.reload();
                }, 1000);
			},
			error:function(data) {
                alert("发生错误");
				console.log(data.msg);
			}
		});
	});
}
</script>
<script>
    function getSelectLine() {
        var nTrs = table.fnGetNodes();//fnGetNodes获取表格所有行，nTrs[i]表示第i行tr
        for ( var i = 0; i < nTrs.length; i++) {
            if($(nTrs[i]).hasClass('selected')){//相当于$(tr)
                var selectLine = table.fnGetData(nTrs[i]);
                alert(selectLine[4]);//获取一行第4列数据
            }
        }
    }

</script>
<script type="text/JavaScript">
    function downLoad(strUrl) {


    }
</script>
<script>
    /*生成excel*/
    function excel() {
        var cb=document.getElementsByName("cb");
        var a=0;
        var arr=new Array();
        //循环判断有没有选择,如果有就a++
        for(var i=0;i<cb.length;i++){
            if(cb[i].checked){
                //因为删除会改变数组下标,所以把对象拿出来放到一个数组中
                arr[a]=cb[i].parentNode.parentNode;
                a++;
            }
        }
        //判断如果标识符等于0就没有选中的
        if(a==0){
            alert("请至少选择一行");
        }else{
            var chk = [];
            $('input[name="cb"]:checked').each(function () {
                //var method =  $("#" + $(this).val()).val();
                chk.push($(this).val());
                console.log(chk);
            });
            var form = $("<form>");   //定义一个form表单
            form.attr('style', 'display:none');   //在form表单中添加查询参数
            form.attr('target', '');
            form.attr('method', 'post');
            form.attr('action', '/testTable?chk='+chk);

            var input1 = $('<input>');
            input1.attr('type', 'hidden');
            input1.attr('name', 'strUrl');
            $('body').append(form);  //将表单放置在web中 
            form.append(input1);   //将查询参数控件提交到表单上
            form.submit();
            // $.ajax({
            //     type: 'POST',
            //     url: '/testTable?chk='+chk,
            //     data:null,
            //     success: function(data){
            //        console.log(data);
            //
            //     },
            //     error:function(data) {
            //         alert("发生错误");
            //         console.log(data.msg);
            //     },
            // });
            //循环自己定义的数组,删除选中的TR
            // for(var c=0;c<arr.length;c++){
            //  console.log(arr[c]);
            //     arr[c].remove();
            // }
        }
    }
</script>
<script>

    function refresh() {
        window.location.replace(location.href);
    }
</script>
</body>
</html>