<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="H-ui/lib/html5shiv.js"></script>
    <script type="text/javascript" src="H-ui/lib/respond.min.js"></script>
    <![endif]-->
    <link href="mis/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="H-ui/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="H-ui/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="H-ui/ib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="H-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="H-ui/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="H-ui/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->
    <title>修改密码 - 会员管理 - H-ui.admin v3.1</title>
</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li>修改密码</li>
    </ul>
</div>
<article class="page-container">
    <form action="#" method="post" class="form form-horizontal" id="form-change-password">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span> 【旧密码】：</label>
            <div class="formControls col-xs-8 col-sm-5">
                <input type="password" class="input-text" autocomplete="off" placeholder="输入密码" name="password3" id="password3">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span> 【新密码】：</label>
            <div class="formControls col-xs-8 col-sm-5">
                <input type="password" class="input-text" autocomplete="off" placeholder="输入密码" name="password" id="password">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>【确认密码】：</label>
            <div class="formControls col-xs-8 col-sm-5">
                <input type="password" class="input-text" autocomplete="off" placeholder="两次输入密码需一致" name="password2" id="password2">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="H-ui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="H-ui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="H-ui/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="H-ui/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="H-ui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="H-ui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="H-ui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){
        $("#form-change-password").validate({
            rules:{
                password:{
                    required:true,
                    minlength:6,
                    maxlength:16
                },
                password2:{
                    required:true,
                    minlength:6,
                    maxlength:16,
                    equalTo: "#password"
                },
                password3:{
                    required:true,
                    minlength:6,
                    maxlength:16
                }
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type: 'post',
                    url: "/ajax-password-change" ,
                    dataType:"json",
                    success: function(data){
                        if(data.msg=="密码修改成功！"||data.msg=="密码修改成功,激活账号！"){
                            layer.msg(data.msg,{icon:1,time:1500});
                            if(data.msg=="密码修改成功,激活账号！"){
                                //刷新页面
                            }
                            alert("已更新密码");
                            parent.location.reload();//刷新父层页面
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }else {
                            layer.msg(data.msg,{icon:2,time:1500});
                        }
                    },
                    error: function(XmlHttpRequest, textStatus, errorThrown){
                        layer.msg('发生未知错误!',{icon:2,time:1500});
                    }
                });
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>